$body = #181818
$green = #8fd063
$link = #d66166

html,body
  font-family: Monaco
  background-color: $body
  color: $accentColor
  height: 100%
  overflow: auto
body
  background-image: url(https://media.discordapp.net/attachments/653819043693985803/660256944119873547/tyler-bg-800.jpg)
  background-repeat: no-repeat
  background-position: bottom right
  background-attachment: fixed

  a
    color: $link

    &.sidebar-link
      &.active
      &:hover
        color: $green !important

      &.active
        border-left-color: $green

h1, h2, h3, h4, h5
  &, a
    color: $green

h2
  border-bottom: 2px dashed $green

.navbar
  background-color: darken($body, 15%)
  border-bottom: 1px solid rgba($green, .25)
  padding: 0 !important
  margin: 0

  .home-link
    height: 100%

    .site-name
      background-image: url(https://cdn.discordapp.com/attachments/653819043693985803/660544580789207060/tyler-logo.png)
      background-repeat: no-repeat
      background-size: 100% auto
      background-position: left center
      display: inline-block
      height: 100%
      color: transparent

  a .site-name,
  .nav-link
    color: lighten($body, 50%)
    > svg
      display: none

  .links
    background-color: transparent !important

.sidebar
  background-color: transparent
  border-right: 1px solid rgba($green, .25)

.theme-default-content:not(.custom)
  max-width: 800px

.custom-block
  &.warning
    color: rgba(255,229,100,1)
  &.tip
    color: lighten($body, 50%)
